<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>532243801060-sdljvgv1fv7eu2g1r7jl856afqqpr2dd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.532243801060-sdljvgv1fv7eu2g1r7jl856afqqpr2dd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>532243801060-kophvmke85ui73qaev73he8dhp246tad.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC-wmGVUNbEBlIUcgce9Coe1nI9CU4zOuE</string>
	<key>GCM_SENDER_ID</key>
	<string>532243801060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travalBook</string>
	<key>PROJECT_ID</key>
	<string>travalbooksocial</string>
	<key>STORAGE_BUCKET</key>
	<string>travalbooksocial.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532243801060:ios:db243676377efba9b61df1</string>
</dict>
</plist>